body{
  margin: 0;
  font-family: helvetica, arial, sans-serif;

}
header{
  background-color: #150485;
  text-align: center;
  padding: 16px;

}
.description{
  background-color: #590995;
  color: white;
  text-align: center;
  padding: 15px;
}
p, h1{
  display: inline-block;
  width: 400px;
  color:white;
}
.main-content{
  width: 960px;
  height: 600px;
  margin: auto;

}
.educacion{
margin-top: 50px;
}
.educacion h3{
  font-size: 36px;
  font-weight: bold;
}
.perfil{
  display: inline-block;
  width: 68%;
  vertical-align: top;



}
.imagen-perfil{
  display: inline-block;
  width:30%;
  margin-top: 50px;
  

}
dt{
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 36px;
  margin-bottom: 12px;
}
dd{
}
ul{
  margin-top: 12px;
  padding: 0px;

}
li{
  margin-top: 16px;
}
.container-redes{
padding: 20px;

}
